<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Простий сайт</title>
   <link rel="stylesheet" href="css/style.css">
   <script src="../scripts/index.js"></script>
</head>
<body>
    <header>
        <h1><strong>Поточний час Kyiv (GMT+2):</strong> <span id="current-time">Завантаження...</span>т</h1>
    </header>
    <nav>
        <a href="#home">Головна</a>
        <a href="#about">Про нас</a>
        <a href="#contact">Контакти</a>
    </nav>
    <main>
        <section id="home">
            <h2>Головна</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum ratione, non numquam illo, aut ad doloribus expedita debitis, repellat nesciunt soluta iure blanditiis minus. Autem ipsa enim nisi quasi aliquid.        </p>
        </section>
        <section id="about">
            <h2>Про нас</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi doloribus iure quod illo enim odio aliquam dolor inventore, tempora esse beatae fugiat distinctio expedita maxime libero soluta unde officia accusamus!</p>
        </section>
        <section id="contact">
            <h2>Виконав</h2>
            <p>Виконано Марком Тищенко</p>
        </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>
